[run]
branch = True
data_file = .coverage
relative_files = True
source=learning_assistant
omit =
    test_settings
    *migrations*
    *admin.py
    *static*
    *templates*
    learning_assistant/plugins.py
